<div ng-controller="HomeController">
	<div ng-repeat="q in vm.questions track by $index">
		<form name="quiz" novalidate>
			<div class="well container">
				<h4>{{q.ask}}</h4><br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a1" name="$index" required/>  {{q.a1}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a2" name="$index" required/>  {{q.a2}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a3" name="$index" required/>  {{q.a3}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a4" name="$index" required/>  {{q.a4}}<br>
			</div><br><br>
		</form>
	</div>
	<div class="well container text-center">
		<button type="submit" class="btn btn-default" ng-click="vm.grades(vm.answer)">Submit Answer</button>
	</div>

	<!-- further work on form validation! Fix 'required' -->
</div>