<div ng-controller="HomeController">
	<form name="quiz" novalidate>
		<div ng-repeat="q in vm.questions track by $index">
			<div class="well container">
				<h4>{{q.ask}}</h4><br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a1" name="answer1" required/>  {{q.a1}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a2" name="answer2" required/>  {{q.a2}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a3" name="answer3" required/>  {{q.a3}}<br>
				<input type="radio" ng-model="vm.answer[$index]" ng-value="q.a4" name="answer4" required/>  {{q.a4}}<br>
			</div><br><br>
		</div>
		<div class="well container text-center">
			<button ng-disabled="quiz.answerGroup.$invalid" type="submit" class="btn btn-default" ng-click="vm.grades(vm.answer)">Submit Answer</button>
		</div>

		<!-- further work on form validation! Fix 'required' -->
	</form>
</div>